p,
li {
  font-size: 0.7rem;
}

thead {
  background-color: dimgray;
  color: #fff;
}

.md-typeset a {
  margin: 0 3px;
}

.md-typeset code {
  font-size: 12.6px;
  color: var(--md-code-hl-special-color);
}

.md-typeset pre > code {
  font-size: 12.6px;
  color: initial;
}

.highlight > span {
  color: var(--md-code-hl-special-color) !important;
}

.highlighttable tr {
  font-size: 0.75rem;
}
